{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/vue",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "prettier", "unused-imports", "simple-import-sort"],
  "rules": {
    "vue/require-default-prop": "off",
    "vue/multi-word-component-names": "off",
    "vue/no-v-html": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../*"]
      }
    ],
    "unused-imports/no-unused-imports-ts": "error",
    "sort-imports": "off",
    "import/order": "off",
    "simple-import-sort/imports": "error",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/camelcase": "off",
    "no-console": "error"
  }
}
